{% extends 'base.html' %}
{% load static %}
    {% block title %}Profile {% endblock %}
    {% block page-title %}Profile{% endblock page-title %}
    {% block content %}
    <p class="font-weight-normal">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th scope="row">First Name</th>
                <td>{{ request.user.first_name }}</td>
            </tr>
            <tr>
                <th scope="row">Email Address</th>
                <td>{{ request.user.email }} </td>
            </tr>
            <tr>
                <th scope="row">Role</th>
                <td class="font-weight-normal">{{ request.user.role }}</td>
            </tr>
        </tbody>
    </table>
</p>
    {% endblock content %}